@{
    ViewData["Title"] = "Ajax - ServerSide";
}

<h2>ServerSide</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        @*<table id="example" class="display" cellspacing="0" width="100%">
            </table>*@

        @(Html.Redky().Grid<Product>().Name("example").RowId("id")
            .Columns(cols =>
            {
                //cols.Add<Product>().Name("test").Title("1er");
                cols.Add(c => c.Name).Name("position").Title("Position");
                cols.Add(c => c.Price).Visible(false).Title("Prix");
                cols.Add(c => c.Created).Title("Date");
                cols.Add(c => c.Id).Data("id").Title("").Render(() => "onRender").Click("onClick");
            })
            .ServerSide(true)
            .DataSource(c =>
                c.Ajax().Url("/api/value").Method("GET")
            )
        )
    </div>
</div>

<script>
    function onRender(data, type, row, meta) {
        return '<button data-type="view" class="btn btn-sm btn-default"><i class="fa fa-lg fa-fw fa-search"></i></button><button data-type="remove" class="btn btn-sm btn-default"><i class="fa fa-lg fa-fw fa-trash"></i></button>';
    }

    function onClick(e) {
        console.log(e);
    }
</script>