@{
    ViewData["Title"] = "Ajax";
}

<h2>Ajax</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>

        @(Html.Ext().Grid<dynamic>().Name("example")
            .ClassName("dataTable")
            .ColumnDefs(c => {
                c.TargetAll().Searchable(true);
                c.Targets(0).OrderData(1);
                })
            .PagingType(PagingType.Full_numbers)
            .DataSource(c => 
                c.Ajax().Url("/data/arrays.json").Method("GET").DataSrc("data")
            )
        )

    </div>
</div>